# US Flight Data

The main objective is to compare the Seattle-Tacoma International Airport and the San Francisco International Airport on the basis of its arrival and departure delays. We are also interested in the proportion of the types of delay (carrier, weather or security) prevalent in both airports. We also plan to investigate the effect of climate on the delays at both airports

The data is available for the months of January through May. More data can be downloaded at https://www.transtats.bts.gov/DL_SelectFields.asp?Table_ID=236&DB_Short_Name=On-Time

In [1]:
#Load dependencies
import pandas as pd
import sklearn as sk
import seaborn as sb
import os
import matplotlib.pyplot as plt
%matplotlib inline

### Loading and Cleaning Data

The raw flight data has some missing values which has to be cleaned first. The carriers.xlt and airports new.xls were cleaned up beforehand. For easy processing by Pandas, they were converted to CSV as well.

In [3]:
filenames = os.listdir('./data')
list=[]
for i in range(len(filenames)):
    data = pd.read_csv('./data/'+filenames[i],na_filter=True)
    list.append(data)
data = pd.concat(list)

### Initial Data Exploration

In [4]:
data.head()

,YEAR,QUARTER,MONTH,UNIQUE_CARRIER,TAIL_NUM,FL_NUM,ORIGIN_AIRPORT_ID,ORIGIN,ORIGIN_STATE_ABR,DEST_AIRPORT_ID,...,DEP_TIME,DEP_DELAY,ARR_TIME,ARR_DELAY,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,Unnamed: 21
0,2017,2,4,AA,N179AA,409,11298,DFW,TX,11057,...,2035.0,6.0,1.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN
1,2017,2,4,AA,N181AA,409,11298,DFW,TX,11057,...,2026.0,-3.0,2351.0,-7.0,NaN,NaN,NaN,NaN,NaN,NaN
2,2017,2,4,AA,N161AA,409,11298,DFW,TX,11057,...,2024.0,-5.0,3.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN
3,2017,2,4,AA,N192AA,409,11298,DFW,TX,11057,...,2044.0,15.0,8.0,10.0,NaN,NaN,NaN,NaN,NaN,NaN
4,2017,2,4,AA,N543AA,409,11298,DFW,TX,11057,...,2023.0,-6.0,2335.0,-23.0,NaN,NaN,NaN,NaN,NaN,NaN

### Questions

**Q.** Which airports have the most departures?

In [72]:
jan = data[data['MONTH'] == 1].ORIGIN.value_counts().head()
feb = data[data['MONTH'] == 2].ORIGIN.value_counts().head()
mar = data[data['MONTH'] == 3].ORIGIN.value_counts().head()
apr = data[data['MONTH'] == 4].ORIGIN.value_counts().head()
may = data[data['MONTH'] == 5].ORIGIN.value_counts().head()
departures = pd.DataFrame([jan,feb,mar,apr,may]).reset_index().drop('index',1).T.reset_index()
departures.rename(columns={'index':'Airport',0:'January',1:'February',2:'March',3:'April',4:'May'},inplace=True)

In [76]:
departures

  Airport  January  February  March  April    May
0     ATL    30138     27623  32457  31122  32157
1     DEN    17030     15533  18659  17704  19122
2     DFW    15304     13764  15496  14207  15470
3     LAX    17314     15569  18077  17433  18169
4     ORD    18782     17775  21993  21464  23366

In [80]:
plt.scatter(departures.Airport)

TypeError: scatter() missing 1 required positional argument: 'y'

**Q.** Which airports have the highest percentage of flights delayed more than an hour?

**Q.** Total number of tail numbers for each airline?

**Q.** Which airlines have the most departures?